/* app global css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 767px) {
  .hidden_md {
    display: none;
  }
}

@media (max-width: 1023px) {
  .hidden_lg {
    display: none;
  }
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #082032;
}
